@import "tailwindcss";

body{
  background-color: rgb(224, 230, 230);
  font-family: "Krub", sans-serif;
  font-weight: 200;
  font-style: normal;
}





.glass{
  /* From https://css.glass */
background: rgba(20, 71, 230, 0.51);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(20, 71, 230, 0.72);
}